* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
}

ul {
    list-style: none;
}

ul li {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.459);
}

header {
    background:rgba(0, 0, 0, 0.644);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    padding: 0.5cm;
    text-align: center;
    text-shadow: 4px 4px 7px black;
}

.cont {
    margin: auto;
    width: 1050px;
    overflow: auto;
    padding: 3rem 2rem;
    border: 5px solid rgba(0, 0, 0, 0.788);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.295);
    font-weight: bolder;
}

.cont2 {
    padding-right: 275px;
    padding-left: 275px;
}

#_form {
    padding: 1.3cm;
    background: #f4f4f4;
    border: 0px solid;
    border-radius: 8px;
}

#_form label {
    display: block;
}

#_form input[type='text'] {
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
    border: 1.5px solid gray;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    background: #333;
    color: #fff;
    margin: 50px 0;
    transition: all 0.7s;
}

.btn:hover {
    background: black;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.error {
    font-size: 0.8rem;
    background: black;
    color: red;
}